/* chat2.css */
.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 25%;
  /* Adjust the width to your preference */
  background-color: lightslategray;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}

.floating-chat-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #575757;
  color: #fff;
  border: none;
  width: 300px;
  height: 35px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.227);
}

.chatbox {
  flex: 1;
  overflow-y: auto;
  max-height: 250px;
  padding: 10px;

}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 10px;
}



.chat-button {
  background-color: hsla(0, 0%, 100%, 0.834);
  color: #053341;
  padding: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* chat2.css */
.chat-minimize-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chatbot-container.minimized {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  transform: translateY(85%);
}

/* chat2.css */
.chat-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  /* Red color for close button */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.sendbuttonchat {
  background-color: white;
  padding: 2px;
  color: #100f0f;

}