/* UserView.css

.user-view-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .user-view-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px; 
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    text-align: left;
  }
  
  .product-details h3 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 5px;
  }
  
  .product-details p {
    font-size: 14px;
    margin: 0;
  }
  
  .product-details button {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .product-details button:hover {
    background-color: #f0f0f0;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  } */


 