.product-details-container-details1 {

  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  margin-top: -57px;

  color: black;

  overflow: hidden;

}



.product-details-container-details {

  /* box-sizing: border-box; */

  margin: 20px auto;

  padding: 20px;

  border: 1px solid #ccc;

  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: center;

  background-color: #fff;

  width: 45%;

  transition: all 0.3s ease;

}



.product-details-container-details:hover {

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}



.product-details-container-details h1 {

  font-size: 15px;

  margin-bottom: 10px;

}



.product-details-container-details p {

  font-size: 15px;

  margin-bottom: 10px;

}



.product-details-container-details img {

  width: 60%;

  max-width: 400px;

  height: auto;

  margin-bottom: 5px;

  margin-left: 85px;

}



.product-details-container-details button {

  background-color: #007bff;

  color: white;

  border: none;

  padding: 8px 16px;

  margin-top: 10px;

  cursor: pointer;

  transition: background-color 0.3s;

  margin-left: 20px;

}

.product-details-container-details1 .bars1 {

  display: flex;

  align-items: center;

  justify-content: flex-end;

  margin-top: 40px;





}

.product-details-container-details1 .bars1 button {

  background-color: #007bff;

  color: white;

  border: none;

  padding: 8px 16px;

  margin-top: 20px;

  cursor: pointer;

  transition: background-color 0.3s;

  margin-left: 20px;

}

.product-details-container-details1 .bars1 button:hover {



  background: #537aa4;

}

.product-details-container-details1 .bars1 img:hover {



  color: #537aa4;

}



.product-details-container-details button:hover {

  background-color: #537aa4;

}



.product-details-container-details button+button {

  margin-left: 10px;

}



.product-details-container-details a button {

  background-color: #007bff;

}



.product-details-container-details a button:hover {

  background-color: #537aa4;

}



@media (max-width: 768px) {

  .product-details-container-details {

    padding: 10px;

    width: 90%;

  }



  .product-details-container-details img {

    max-width: 60%;

  }



  .product-details-container-details button {

    padding: 6px 12px;

  }

}







.product-details-container-details input[type="number"] {

  width: 50px;

  padding: 8px;

  font-size: 16px;

  border: 1px solid #2f1919;

  border-radius: 4px;



}

.error-message {

  color: red;

  margin-top: 8px;

}



.product-details-container-details h1 {

  color: black;

}



.product-details-container-details p {

  color: black;

}

.bars1 img {

  padding: 21px;

  height: 21px;

  align-items: baseline;

  margin-top: 21px;



}

.message {

  color: white;

  border: 1px solid green;

  border-radius: 20px;

  background: green;

}