/* DailyInventory.css */

.daily {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
  }
  
  .container {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .text-center {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  