.shop_14 .product-detail-page_shop14 {

  padding: 20px;

  font-family: Arial, sans-serif;

  text-align: left;
  background-color: black;

}

.shop_14 .product-details_shop14 
{
  width: 100%;
  max-width: 800px;
}

.shop_14 .product-image_shop14
{

  width: 250px;
  height: 250px;

}

.shop_14 .product-details_shop14 strong 
{
  font-size: 24px;
  color: white;
}

.shop_14 .product-details_shop14 p 
{
  font-size: 18px;
  margin: 10px 0;
  color: white;
}

.shop_14 .spaced-buttons_shop14 
{
  margin-right: 30px;
  color: blue;
}