.shop14 .user-page_shop14 {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  text-align: left;
}


.shop14 .h1_shop14 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.shop14 .header_shop14 h1 {
  margin: 0;
}
.shop14 .product-list_shop14 {
  width: 100%;
  max-width: 400px;
}

.shop14 .product-item_shop14 {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color:white;
}

.shop14 .product-details_shop14 {
  flex: 4;
}

.shop14 .product-image_shop14 {
  width: 300px; /* Set the width to 300px */
  height: 300px; /* Set the height to 300px */
}

.shop14 .product-buttons_shop14 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right:10px;
}

.shop14 .product-buttons_shop14 button:hover {
  background-color: #0056b3;
}